[2022-10-01 08:37] Ankit-11525 opened #2 "Need README for better understanding about the project"

[2022-10-01 09:04] atom540 commented on #2
hey, can you please assign this to me?

[2022-10-01 09:08] Ankit-11525 commented on #2
yeah sure ! Go ahead..

[2022-10-01 09:25] SandeshGC commented on #2
Hi, I am new to hacktoberfest. Is this still available? Can I work on this too?

[2022-10-01 09:35] Ankit-11525 commented on #2
Hey ! , I have already assigned to other user .
So hope you find any bug , enhancement in this project for which you can raise issue ,after that  i will assign that issue to you .

[2022-10-01 09:43] harikesh409 opened #4 "Year in copyright of footer is wrong"
I can update the footer to give the current year of the copyright

[2022-10-01 09:44] harikesh409 commented on #4
If this is ok please add the hactoberfest labels and assign to me so I can start working on it.

[2022-10-01 09:47] Ankit-11525 commented on #4
Go for it !!

[2022-10-01 10:00] SandeshGC opened #6 "Alignment of links in navbar is a bit off"
This is how the links are aligned right now:
![how it is](https://user-images.githubusercontent.com/59115123/193403895-e5716912-4867-4c5e-b2a2-a9e13db5162e.png)

This is how I think they should look like:
![how it should be](https://user-images.githubusercontent.com/59115123/193403955-5048df0e-cc0d-495f-adb3-9869a5367ded.png)

Do you want me to create a pull request for this? If you think this iss

[2022-10-01 10:09] Ankit-11525 commented on #6
yeah sure !!

[2022-10-01 11:41] #4 closed

[2022-10-01 11:52] #6 closed

[2022-10-01 12:05] suyogkokaje opened #9 "Custom scroll bar"
### **Type of the issue** :
Enhancment

### **Description**:
 Currently the website has the default scroll bar. Custom scroll bar having colour suitable to the overall theme of the website will look great.

[2022-10-01 12:10] #9 closed

[2022-10-01 12:21] SandeshGC opened #10 "Discussion"
Hi, @Ankit-11525 ! According to these statements, I think you should add "hacktoberfest" tag to the repo or, label this repo as "hacktoberfest-accepted".
And, you should add "hacktoberfest-accepted" label to the merged PRs.

![image](https://user-images.githubusercontent.com/59115123/193409313-96686f16-20da-4dab-9fdb-34010eff73fe.png)

[2022-10-01 12:38] BurhanRaja opened #11 "No About Page"
The about page is not there. I would love to contribute to add an about file and code it. I would request you to assign me.

[2022-10-01 12:44] Ankit-11525 commented on #10
okay done !!

[2022-10-01 12:49] Ankit-11525 commented on #11
I love to assign . Go Ahead !!

[2022-10-01 15:14] komalioruganti commented on #11
Can I work on this as well?

[2022-10-01 15:17] SandeshGC commented on #10
@Ankit-11525  may I suggest displaying price as: "Rs. 590" instead of "590 Rs." ?

[2022-10-01 15:36] komalioruganti opened #12 "Cart doen't display the items selected"

[2022-10-01 15:44] komalioruganti opened #13 "Total should sum up the prices of items added to cart"

[2022-10-01 15:52] komalioruganti opened #14 "No links attached to "Useful links" and "Follow Us" section"

[2022-10-01 15:55] komalioruganti commented on #14
The links to the "Useful links" and "Follow us" section are not attached. I would love to work on it. Can you please assign me this?

[2022-10-01 16:24] Ankit-11525 commented on #11
yes !! go for it

[2022-10-01 16:25] Ankit-11525 commented on #10
Yeah great!! Go for it

[2022-10-01 16:28] Ankit-11525 commented on #14
Thats Great !! i want to assign you
Go for it

[2022-10-01 16:28] #13 closed

[2022-10-01 16:29] Ankit-11525 commented on #12
Give some Brief too!

[2022-10-01 16:29] #10 closed

[2022-10-01 16:30] Ankit-11525 commented on #10
Hope , the hacktoberfest label and topic was resolved !

[2022-10-01 16:45] rtewari056 opened #15 "Links not present in brands section"
There should a link attached to the brand names.

[2022-10-01 16:47] SandeshGC commented on #10
Yes it was, thank you. I will create an issue for the price indication. But I have another issue first.

[2022-10-01 16:51] nishtha53 opened #16 "Explore now and buy now button does nothing.. I can work on it."

[2022-10-01 16:53] Ankit-11525 commented on #16
Yeah sure!!
Go ahead->

[2022-10-01 16:55] nishtha53 opened #17 "About page is not working"
About should have some content on a separate page. I would like to work on it.

[2022-10-01 16:55] Ankit-11525 commented on #15
Please explain much more

[2022-10-01 16:56] SandeshGC commented on #12
I would like to work on the functionalities of the cart page. Please assign it to me. But what I will be doing is different from the scope of this issue. I won't be adding selected items to the cart, but I will make the existing cart functional i.e. increase/decrease quantity, remove item and update the cost accordingly. If you think this is a valid issue, you can assign me here or I can create a

[2022-10-01 16:57] Ankit-11525 commented on #17
Go Ahead !!

[2022-10-01 16:58] nishtha53 commented on #16
Explore now and buy now should redirect to the products page.

[2022-10-01 17:01] Ankit-11525 commented on #12
Create another issue for that specific problem

[2022-10-01 17:03] Ankit-11525 commented on #16
okay change it . I have already assigned

[2022-10-01 17:06] nishtha53 commented on #16
I have changed how can i do PR

[2022-10-01 17:08] Ankit-11525 opened #18 "Theme change needed"
Theme change needed! with switching mode button

[2022-10-01 17:11] nishtha53 opened #19 "Forgot password link is broken"
In Account page, Forgot password should have different card it is not working

[2022-10-01 17:12] Ankit-11525 commented on #16
just create new pull request button next to issue button
then i'll merge it

[2022-10-01 17:14] aaheli8 opened #20 "Add a Testimonial heading and a Carousel for the images above the featured section"
I want to add a heading called What our customers Say above the testimonial section.  Also a Carousel for the images above the featured section.

[2022-10-01 17:18] nishtha53 commented on #16
I have created a new branch and tried to push but permission was denied.

[2022-10-01 17:19] SandeshGC opened #21 "Adding functionalities to the cart page."
add functionalities such as:-

- Increasing the quantity of items
- removing items using 'remove' button
- updating the costs according to the number of items.

[2022-10-01 17:19] Ankit-11525 commented on #19
Forgot password button is linked with main account page

[2022-10-01 17:20] Ankit-11525 commented on #21
okay Go ahead !! its very great idea

[2022-10-01 17:24] Ankit-11525 commented on #20
okay it looks great , go for it.
Now you are assigned for this issue enhancement!

[2022-10-01 17:36] nishtha53 commented on #16
@Ankit-11525 Please check I have created pull request

[2022-10-01 17:38] rtewari056 commented on #15
#### Basically, there is a brands section on the website (as you can see in the screenshot) where you can find brand names and there should be a link attached with the logo so that when a user clicks on them it will redirect to the actual website of the brand

![brands](https://user-images.githubusercontent.com/75976169/193421299-0c89765a-d513-43dc-aecd-516434d4f534.png)

[2022-10-01 17:46] nishtha53 commented on #19
can u share URL?
![image](https://user-images.githubusercontent.com/68805896/193421674-dc8a56cb-2014-4694-b360-c80d487bd053.png)
From here If I clicked on forgot password it is redirecting to register page.

[2022-10-01 17:48] SandeshGC opened #23 "Changing the display format of price from "999 Rs." to "Rs. 999" and fixing the use of '$' instead of 'Rs.' in the single product page."
Generally, we use "Rs. 999" instead of using "999 Rs." to indicate the price.
Also, in the single product page there is '$' instead of 'Rs.'
![image](https://user-images.githubusercontent.com/59115123/193421779-0d623abe-7d55-4784-acb7-1d1d4cdd562a.png)

I would like to work on this issue.

[2022-10-01 17:58] nishtha53 opened #24 "In product page only 1st product is having details of product"
A single product page should be added to all other products.
![image](https://user-images.githubusercontent.com/68805896/193422180-0257342c-9866-4fb7-b44a-3b0c2f74a64f.png)

[2022-10-01 18:00] nishtha53 opened #25 "Enhancement: Hover effects to menu"
brownish color i.e theme color hover effect can be added to menu

[2022-10-01 18:15] Ankit-11525 commented on #15
okay go for it !

[2022-10-01 18:18] Ankit-11525 commented on #19
not on register page just on main account page ( by default start with register as new ).
just leave it what's your idea !!

[2022-10-01 18:20] Ankit-11525 commented on #24
for that you must have all different pic of different angles for all products .

[2022-10-01 18:20] #24 closed

[2022-10-01 18:23] Ankit-11525 commented on #23
Done!!

[2022-10-01 18:30] nishtha53 commented on #19
Forgot password should have different design i think it is not having

[2022-10-01 18:31] Ankit-11525 commented on #17
Also add contributers information (mainly logo with link) on that page ,if possible

[2022-10-01 18:33] nishtha53 commented on #25
hacktoberfest-accepted label is remaning?

[2022-10-01 18:34] Ankit-11525 commented on #19
Try and go for it !! lets see ->

[2022-10-01 18:36] Ankit-11525 commented on #25
done!

[2022-10-01 18:37] Ankit-11525 commented on #25
I guess "hacktoberfest-accepted" is given to contributer when work is done !

[2022-10-01 18:38] minhaj-313 commented on #25
I want to Contribute in Your Project for Hacktoberfest

[2022-10-01 18:41] Ankit-11525 commented on #25
All the best!!
Hope you find any of bug or any enhancement in this project for which you can raise issue and merge after resolving that issue.

[2022-10-01 18:42] Ankit-11525 commented on #25
just find issue -> folk and star this project -> clone it -> make change at your end -> pull request to merge that changes

[2022-10-01 18:45] minhaj-313 commented on #25
Ok, Thank You I will give my best.

[2022-10-01 18:46] Ankit-11525 commented on #11
Also add contributers information (mainly logo with link) on that about page ,if possible guys -> @BurhanRaja  @komalioruganti

[2022-10-01 18:46] #16 closed

[2022-10-01 18:48] nishtha53 commented on #25
I want to contribute in this task too.

[2022-10-01 18:50] Ankit-11525 commented on #25
@nishtha53 you are already assigned for this issue "brownish color i.e theme color hover effect can be added to menu"

[2022-10-01 18:51] harikesh409 commented on #17
I suggest using API https://api.github.com/repos/Ankit-11525/e-commerce_redstore.github.io/contributors, to fetch the contributors so the list can be dynamic.

[2022-10-01 18:54] nishtha53 commented on #25
Please check I have created PR

Here is a demo of what I have done:

![image](https://user-images.githubusercontent.com/68805896/193424118-74df9a1a-7f34-41a5-b52e-7cbc52504672.png)

[2022-10-01 19:05] harikesh409 opened #27 "Add Github Actions to auto add Contributors"

[2022-10-01 19:07] harikesh409 opened #28 "Add Github Issue Template with different"
Different template structures for:
- enhancement
- bugs

[2022-10-01 19:07] nishtha53 commented on #25
@Ankit-11525 as a maintainers u haven't accepted my PR? in my dashboard it is still showing not accepted.
Sorry I am new to Hacktoberfest.

[2022-10-01 19:10] KrunalBorhade opened #29 "Pagination is not functioning."

[2022-10-01 19:23] minhaj-313 commented on #25
Please Merge My PR, I will done lot of work on this Project, Please labeled me as Hacktober accepted, Thank You So Much.

[2022-10-01 19:42] YatharthaRana opened #32 "Add icons and social media links to social media pages"
<img width="1390" alt="Screenshot 2022-10-02 at 01 09 54" src="https://user-images.githubusercontent.com/95047694/193425635-744cd923-f5f7-4635-8351-cfeaf1f2ff03.png">

I will add icons before the statement like Facebook Twitter etc

[2022-10-02 04:12] Ankit-11525 commented on #32
yeah go for it!

[2022-10-02 04:18] Ankit-11525 opened #34 "Improve README"

[2022-10-02 04:22] Ankit-11525 commented on #29
Please give some breif about the updation

[2022-10-02 04:24] Ankit-11525 commented on #28
yeah add it!

[2022-10-02 04:24] Ankit-11525 commented on #28
give some brief about it

[2022-10-02 04:37] rtewari056 commented on #34
Can I work on this

[2022-10-02 04:38] #15 closed

[2022-10-02 04:39] Ankit-11525 commented on #34
yeah sure !!

[2022-10-02 04:52] #27 closed

[2022-10-02 05:01] #2 closed

[2022-10-02 05:32] komalioruganti commented on #14
Ok. I will work on this.

[2022-10-02 06:13] biratdatta opened #37 "Change Buttons and other quality of Life Changes"
Hey, I wanted to change some buttons and other scrolling features and make it better. Can I get this done?

[2022-10-02 06:41] KrunalBorhade commented on #29
Hey @Ankit-11525 , for this, I have to store all the data in a json file and then I have to map it. After that, I will be able to do pagination.

[2022-10-02 06:46] PrajwalDhule commented on #12
Hello! I would like to work on this issue

[2022-10-02 07:22] aaheli8 commented on #20
I have created a PR.

[2022-10-02 08:08] komalioruganti commented on #14
What links should I attach to them?

[2022-10-02 08:41] nishtha53 commented on #17
yes @harikesh409  this is good idea to keep dynamic.

[2022-10-02 08:58] Ankit-11525 commented on #37
please give some briefly idea about it

[2022-10-02 09:04] Ankit-11525 commented on #29
Yeah sure!!

[2022-10-02 09:07] Ankit-11525 commented on #12
This is already assigned , i hope that you will find another issue ,any bug or any enhancement for this project .
Create new issue

[2022-10-02 09:12] #34 closed

[2022-10-02 09:18] Ankit-11525 commented on #17
Please try this and add this in our about section !!
About page be like :
-some detailed information about website
-all contributers list
-any remark
-at last footer

[2022-10-02 09:30] nishtha53 commented on #17
okay sure @Ankit-11525

[2022-10-02 11:18] biratdatta commented on #37
I want to change the buttons, because they doesn't go good and add some more features to make it better for all to use

[2022-10-02 11:25] YatharthaRana commented on #32
@Ankit-11525 Please if you have merged my pull request then close this issue :)

[2022-10-02 11:39] Ankit-11525 commented on #37
Amazing !! go for it->

[2022-10-02 11:41] BurhanRaja commented on #11
Thank you @Ankit-11525

[2022-10-02 11:41] #32 closed

[2022-10-02 11:42] BurhanRaja commented on #11
Hello @komalioruganti
I just wanted to discuss with you as we are both assigned to this, that what page you are taking for contribution. I will take contact.html if you can take about.html or whatever as you like.

[2022-10-02 12:07] SandeshGC commented on #23
Hey there! I am working on another issue. Why did you close this one?

[2022-10-02 12:10] Ankit-11525 commented on #23
oh sorry i think you had fixed this issue.

[2022-10-02 12:11] SandeshGC commented on #23
No, I haven't created the PR. I am working on the cart issue.

[2022-10-02 12:18] komalioruganti commented on #11
I started working on the about.html page. So I will take that

[2022-10-02 16:32] #28 closed

[2022-10-02 16:34] Mohasin-Haque opened #45 "Add pointer to buttons"
I want to work on buttons as there expected behaviour is not natural. I would like to make pointers in buttons.

[2022-10-02 16:35] Ankit-11525 commented on #45
yeah sure go for it !!
take care of all button...

[2022-10-02 17:26] Mohasin-Haque commented on #45
@Ankit-11525 Fixed the issue, Please check the PR raised. Thank You

[2022-10-02 17:56] Ankit-11525 commented on #45
done!!

[2022-10-02 17:56] #45 closed

[2022-10-02 19:19] codingkush opened #49 "Menu in mobile view is not visible properly"
When i visited site in my phone so i Clicked on menu so i found that menu bar is not visible properly..and that are looking not so good ..

Screenshot:-------->
![Screenshot_20221003-004136](https://user-images.githubusercontent.com/78756312/193472209-3f983d2a-3d95-4053-a1fd-a014e20fa9d3.png)

[2022-10-02 19:21] codingkush commented on #49
Pls assign to me this issue under hacktobetfest 22

[2022-10-03 00:21] palashb01 commented on #18
Hey @Ankit-11525 ! I think I can Work on this Issue, Kindly Assign this to me

[2022-10-03 02:49] Ankit-11525 commented on #49
okay that's great ,Go Ahead!

[2022-10-03 02:49] BurhanRaja commented on #11
Ok, so I will take contact.html. No worries.

[2022-10-03 02:52] Ankit-11525 commented on #18
Yeah sure ! Go for it

[2022-10-03 03:45] codingkush commented on #49
Thank you 😊

[2022-10-03 10:50] prakhar-1005 opened #50 "Feature: Hover feature for Latest Products and Featured Products Section"
The products mentioned in the  Featured Products and Latest Products sections have no hover feature. This makes the site feel less responsive for the user.

I would like to add hover feature to all the products in the Featured Products and Latest Products sections which will enhance the overall user experience.

Screenshots:
![Screenshot (12)_LI](https://user-images.githubusercontent.com/94559623/

[2022-10-03 16:11] Aarav238 commented on #29
please assign this to me

[2022-10-03 16:13] Aarav238 commented on #50
Please assign this issue to me . I can add hover

[2022-10-03 16:16] Ankit-11525 commented on #29
Sure ! Go Ahead

[2022-10-03 16:17] Ankit-11525 commented on #50
okay Go for it!

[2022-10-03 16:35] Aarav238 commented on #50
Okay.I Will update you by tommorow.

[2022-10-04 04:18] rtewari056 opened #55 "Enhance Login/Register Card"
**Is your feature request related to a problem? Please describe.**
In the account details page, Login/Register card looks very basic.

**Describe the solution you'd like**
I want to enhance the Login/Register card by adding additional styling so that it will look much better.

**Screenshot**

![products](https://user-images.githubusercontent.com/75976169/193732069-8a53d6e4-fb2d-4ceb-8b02-d35e89594

[2022-10-04 07:09] #50 closed

[2022-10-04 07:55] #21 closed

[2022-10-04 08:17] talkshrey opened #59 "Changing the UI of navbar"
**Is your feature request related to a problem? Please describe.**
In the mobile responsive view, the menu on toggling is not seen properly. Also the menu covers the whole screen in the mobile view.

**Describe the solution you'd like**
I would reduce the width of the navbar on toggling it should be clearly visible.

**Describe alternatives you've considered**
I have focused on decreasing the widt

[2022-10-04 08:17] talkshrey commented on #59
Can someone please assign me this issue so I can make the changes and submit a PR. Thank you!

[2022-10-04 08:44] Ankit-11525 commented on #59
Okay sure

[2022-10-04 09:00] nayyyhaa opened #60 "Cart page with size information"
**Description**
While adding the same product(with the same size) to the cart, it's creating a duplicate entry on the cart page with no size information.

**Solution**
1) We can update the `productQuantity` when the same item is added (only when id and productSize are the same)
For eg, if the cart has: Shirt with 1 Qty, -> after adding the same product -> it'll update the quantity to 2.
2) Will be

[2022-10-04 10:13] Ankit-11525 commented on #60
okay sure , Go ahead!

[2022-10-04 11:58] #23 closed

[2022-10-04 13:37] nayyyhaa commented on #60
Thanks created PR #62

[2022-10-04 16:18] kunaaal13 opened #63 "Social media icons not aligned properly"
**Describe the bug**
The social media icons in the footer are not aligned properly.

**Expected behavior**
The social media icons must be aligned in a line.

**Screenshots**
![Screenshot_2022-10-04-21-44-12-68_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/84015751/193871805-5244c85f-7d7e-4d65-93bf-79364e7b4f45.jpg)

I'd like to work on this issue.

[2022-10-04 17:01] Purva2803 commented on #14
hey, there is no redirection for useful links I want to work on it I will provide a redirection link but there is no content for useful links so should I add it manually?   waiting for your positive response.

[2022-10-04 17:05] Purva2803 commented on #14
hey, there is no redirection for useful links I want to work on it I will provide a redirection link but there is no content for useful links so should I add it manually?   waiting for your positive response.

[2022-10-04 18:09] #60 closed

[2022-10-04 18:29] Ankit-11525 commented on #63
yes sure !! go for it

[2022-10-04 18:29] AnshuPathak-88825 opened #67 "Add Theme changer"

[2022-10-04 18:31] Beast61224 commented on #67
give it to me

[2022-10-04 18:33] Beast61224 commented on #67
can i have it

[2022-10-04 18:38] AnshuPathak-88825 opened #69 "smooth hover effect on follow us icons"
![image](https://user-images.githubusercontent.com/78332454/193898932-c0ef4414-97fb-4b0a-9cdf-c3037deb4696.png)

[2022-10-04 18:40] Beast61224 commented on #69
Can I solve this issue

[2022-10-04 18:40] Ankit-11525 commented on #69
Yeah sure !! Go ahead.

[2022-10-04 19:17] Aarav238 opened #76 "Add Hover transition in all product."
On hovering on the product Image , transition will take place.
This will enhance the website . It will attract the attention of the user.
![before ](https://user-images.githubusercontent.com/95538627/193906501-2970d55d-8b52-4a14-acf1-3190152f97ac.png)

I can do this quickly .
Please assign this issue to me.
@Ankit-11525

[2022-10-04 19:25] Beast61224 commented on #69
done

[2022-10-04 20:14] Ankit-11525 opened #78 "How I revert all files from previous commit."

[2022-10-04 20:18] AnshuPathak-88825 opened #79 "Problem in current commit"
![image](https://user-images.githubusercontent.com/78332454/193917833-186e1edc-add6-4dbd-8463-ab126d65ad54.png)
your website is not stable due your current commit you should to revert back to previous commit
pls assign me this issue

[2022-10-04 20:18] Ankit-11525 commented on #79
yeah sure

[2022-10-05 05:03] Ankit-11525 commented on #76
Is this your second same issue?

[2022-10-05 06:24] Aarav238 commented on #76
I thought first one was had some problem and there are also some extra line of code . So can i work on this issue again??
@Ankit-11525

[2022-10-05 07:21] Ankit-11525 commented on #76
yes

[2022-10-05 07:56] #55 closed

[2022-10-05 10:21] #78 closed

[2022-10-05 12:46] SandeshGC commented on #12
Hey, I think this issue has been fixed!

[2022-10-05 15:49] Gunjanrathore8178 opened #84 "can make a contact , sign up and login form. pls assign this project to me"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-06 06:53] Ankit-11525 commented on #84
but its already there in website

[2022-10-06 13:29] kunaaal13 commented on #63
I'm working on this

[2022-10-07 04:35] Aarav238 commented on #76
I already worked in this product but it is still open and PR is merged but it is not showing on Hacktoberfest dashboard.
@Ankit-11525 Please look what happened.

[2022-10-07 04:52] Dharmik3 opened #86 "social icons indentation is not proper in footer"
**Describe the bug**
Social icons in footer having not proper indentation , and it's mashup the look and feel of the site , so I can fixed that issue ,please assign that issue to me.

**Screenshots**
<img width="1440" alt="Screenshot 2022-10-07 at 9 50 58 AM" src="https://user-images.githubusercontent.com/78194918/194469219-095ba7de-c086-447f-86b0-4a7b31d8eda7.png">

[2022-10-07 12:07] #76 closed

[2022-10-08 02:05] Ankit-11525 commented on #86
Already resolved

[2022-10-08 02:05] #86 closed

[2022-10-08 19:04] Aarav238 opened #89 "Website takes too much time to load.Please somebody enhance it."
As we open website even in our local browser without hosting it anywhere , it takes too much time to load.

[2022-10-08 21:44] tushar54594 opened #91 "Improving the Hover effect of follow us icons"
* When we hover over any social media icons, it displays  a black and white theme.

* I will change the hover effect such that when we hover over a particular follow us icon, it will change it's color to it's standard color. Like when we hover over the facebook icon it will change to color to the original color of the facebook logo.  Similarly I will do this for all other icons. This will make the

[2022-10-09 03:04] rushikesh1799 opened #92 "Adding Scroll up button functionality on Home page"
**Is your feature request related to a problem? Please describe.**
The Home page of the website is a little long like 5-6 scrolls. After we go down completely it takes the same amount of time to come up which is not a good user experience.

**Describe the solution you'd like**
Our website should have a scroll-up button that would take website visitors directly to the top of the page.

**Additional

[2022-10-09 03:05] rushikesh1799 commented on #92
Can you please assign this to me so that I will check the code and Submit PR? Also please add the hacktoberfest labels. Thanks

[2022-10-09 05:33] SandeshGC commented on #91
This issue is similar to #69

[2022-10-09 05:34] SandeshGC commented on #63
Hey @kunaaal13 , while you're working on this, have a look at the shape of the icons, they are not circle. I think circular icons would be better.

[2022-10-09 05:40] Ankit-11525 commented on #89
Any solution ?

[2022-10-09 05:49] kunaaal13 commented on #63
hey @SandeshGC I've submitted my pr you can create a new issue and fix that if you want

[2022-10-09 05:50] Ankit-11525 commented on #92
okay done!

[2022-10-09 05:51] Ankit-11525 commented on #91
It is already assigned

[2022-10-09 05:51] SandeshGC commented on #63
Okay. But if this issue is fixed, please close it.

[2022-10-09 05:52] #63 closed

[2022-10-09 05:54] SandeshGC commented on #69
Has this issue been fixed?
I would like to work on the social media links and I don't want to create conflicts while merging.

[2022-10-09 06:36] SandeshGC opened #93 "The hover effects on products is excessive."
When we hover on the displayed products, there is a nice scaling effect. But this effect is a bit excessive and takes a lot of space. Also, this effect should not be used in screens with small sizes.

On hover:
![image](https://user-images.githubusercontent.com/59115123/194740535-e2549f1b-4159-4247-8305-e114057b42e6.png)

I suggest reducing the scale of the products, or just scaling up the image o

[2022-10-09 07:18] rushikesh1799 commented on #92
#94 - Submitted PR. Please review and merge it. Also, let me know if there are any issues. Thanks.

[2022-10-09 08:54] Ankit-11525 commented on #93
yes its amazing to see changes !

[2022-10-09 08:57] #92 closed

[2022-10-09 11:43] tushar54594 commented on #91
Ok! Then I'll close this

[2022-10-09 11:43] #91 closed

[2022-10-09 12:01] tushar54594 opened #96 "Modify the text in the testimonial section"
* In the What our Customers say section, the reviews given are some random texts which are generated by the user.

* This does not look good

* I will add proper and meaningful reviews for all the 3 customers in the testimonial section.

![Screenshot (607)](https://user-images.githubusercontent.com/94536522/194755645-417f2c2f-8756-4264-87d5-1bfb457f42dc.png)

Hey @Ankit-11525 Please assign me this

[2022-10-09 12:33] Ankit-11525 opened #97 "🐛Needed modification and improvements in dark mode"

[2022-10-09 12:35] Ankit-11525 commented on #96
Thats Great!

[2022-10-09 12:35] Ankit-11525 commented on #96
Go for it!

[2022-10-09 12:39] nihshesh opened #98 "Useful Links at the bottom aren't working as links, they are normal texts."
Please assign me this issue.
![image](https://user-images.githubusercontent.com/61341935/194757276-ccfe0461-b315-48b7-82c9-6437e5433ebb.png)

[2022-10-09 13:00] tushar54594 commented on #96
Hey @Ankit-11525 I made the required changes. Kindly review my PR

[2022-10-09 13:27] anuragh2002 commented on #17
Hey @Ankit-11525 I would like to frame professional-grade content for About page. Like your vision, mission, why you started, founder's note and many more. Can you please co-assign this issue to me for the content part if @nishtha53 is comfortable with it?

[2022-10-09 13:46] nishtha53 commented on #17
Yes sure @anuragh2002 can work on content part. I will work on design of that page!

[2022-10-09 13:47] SandeshGC opened #100 ""Follow us" icons are not perfectly round"
This is how the "Follow us" icons look right now:
![image](https://user-images.githubusercontent.com/59115123/194760352-9396062b-fbe0-43ce-8f54-f650ae6b6736.png)

I have checked the issues and there are similar ones, but they don't cover this task.
I would like to make the icons perfectly round. Assign it to me.

[2022-10-09 13:59] SandeshGC commented on #97
Here is what I came across:
- The texts is dark and so is the background.

![image](https://user-images.githubusercontent.com/59115123/194760690-f2dc7305-f62a-4aec-a3a2-765f96353474.png)

![image](https://user-images.githubusercontent.com/59115123/194760713-20d58df7-cb01-4a43-a4ff-2bd68caed554.png)

- Some parts still have light background:

![image](https://user-images.githubusercontent.com/59115

[2022-10-09 14:04] SandeshGC commented on #97
I would like to add that if I toggle the dark/light mode  while I am in any page, it will not stay dark when I navigate to another page or refresh the same page.

[2022-10-09 15:46] gajanansr commented on #100
Assign This to me

[2022-10-09 15:47] gajanansr commented on #98
assign this to me

[2022-10-09 16:00] priyank003 commented on #100
Please assign this task to me I can work on its border radius property

[2022-10-09 16:04] Ankit-11525 commented on #97
oh thats great!
You are always assigned :)

[2022-10-09 16:14] SandeshGC commented on #97
😂 I'm sorry but I would like to wait if anyone's interested. Right now I am working on another issue, let's wait till tomorrow evening, then I will take on this issue.

[2022-10-09 16:16] SandeshGC commented on #100
Sure, @Ankit-11525 will assign you.

[2022-10-09 16:29] prakhar-1005 opened #102 "Hover feature for the arrow button"
The arrow button does not have hover feature.

 I would like to add it to increase site responsiveness and enhance the user experience.

Screenshots:
![Screenshot (46)_LI](https://user-images.githubusercontent.com/94559623/194768322-66e19fbf-2dff-49d8-9341-29de6e5dc40e.jpg)

[2022-10-09 16:32] SandeshGC commented on #93
What do you think about this change? @Ankit-11525

![ezgif com-gif-maker](https://user-images.githubusercontent.com/59115123/194768483-9dc9b60b-e854-4c9c-9b73-74c1c1562ddb.gif)

[2022-10-09 16:36] SandeshGC commented on #102
I have one more idea that can make the arrow button better.

The arrow button should be visible only when the user scrolls down from the hero section of any page.
Currently the button is present only in the Home page. It should also be available on the products page for now (because there's no about page)

[2022-10-09 17:34] DhruvDhari commented on #102
i have given it an hover effect

[2022-10-09 17:53] Ayushbajpai19 commented on #14
Hey, can i work on this issue please?

[2022-10-09 17:54] Ayushbajpai19 commented on #96
Can I work on it, i would like to add additional testimonials in this section please

[2022-10-09 18:20] prakhar-1005 commented on #102
But there is no zoom effect on the button

[2022-10-09 20:00] stringer1000 opened #103 "Poor Color Contrast in Dark Mode"
**Describe the bug**
Dark Mode Colors not implemented properly causing poorly/non-visible icons due to poor contrast.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Website](https://ankit-11525.github.io/e-commerce_redstore.github.io/)
2. Switch to Dark Mode
3. See error

**Expected behavior**
Dark Mode text should be clear and visible.

**Screenshots**
![image](https://user-images.g

[2022-10-09 20:00] Codebox124 opened #104 "Text formating"
Text not properly arranged on the hero section

[2022-10-09 20:04] stringer1000 opened #105 "Icons not aligned properly in footer"
**Describe the bug**
Icons misaligned/not given enough space in the footer causing them to appear cropped.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Website](https://ankit-11525.github.io/e-commerce_redstore.github.io/)
2. Scroll down to footer
3. See error

**Expected behavior**
All social icons should be given proper spacing.

**Screenshots**
![image](https://user-images.githu

[2022-10-09 20:06] Shivank12batra commented on #97
hey Sandesh! I would love to work on this issue.

[2022-10-09 22:38] Jyotiraditya24 opened #106 "Back-To-Top Button"
**Describe the bug**
Back to top button in mobile view gets underneath the images

**To Reproduce**
Steps to reproduce the behavior:
1. Go to responsive mode mobile view
3. Scroll down to see button underneath the images

**Expected behavior**
the Back-To-Button should be above the images

**Screenshots**
<img width="760" alt="Screenshot 2022-10-10 at 4 05 17 AM" src="https://user-images.githubuse

[2022-10-09 22:39] Jyotiraditya24 commented on #106
if you could assign me this issue , I like to contribute

[2022-10-10 01:37] rashmisubhash opened #107 "Typos in the All Products filter"
**Describe the bug**
There are typos in the **All Products** filter

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to [website](https://rsanimesh.github.io/products.html)
2. Click on the filter at the top
3. Typos as _**Short by**_

**Expected behaviour**
The text should be Sort by

**Screenshots**
![image](https://user-images.githubusercontent.com/29196787/194789031-5740aa00-8c01-43db-

[2022-10-10 02:33] SandeshGC commented on #97
Yeah sure! @Ankit-11525 will assign you as soon as he can.

[2022-10-10 03:43] Ankit-11525 commented on #97
Yes , you can start your work but I will assign you by latest tonight because of unavailability of laptop.

[2022-10-10 04:20] SreenikaMyakala commented on #105
Hi can you please assign this to me i want to contribute

[2022-10-10 04:22] SreenikaMyakala commented on #107
Can you please assign this to me i want to contribute

[2022-10-10 06:19] Rohitprasad83 opened #110 "Add Snackbar/Toast when a Product is Added to Cart or Removed from Cart."
**Is your feature request related to a problem? Please describe.**
Whenever a product is added or removed from the cart, the user has no visual feedback.

**Describe the solution you'd like**
A Snackbar/Toast would be helpful to give the user feedback that the product is added or removed from the cart.

[2022-10-10 06:20] Rohitprasad83 commented on #110
Can you please assign this to me and add hacktoberfest labels. Thanks

[2022-10-10 06:48] coolestnick commented on #104
Hi I can fix the code. Please assign me this task!

[2022-10-10 07:35] Vineet-0 opened #111 "Add a NEW product Detail page 🔗"
**Is your feature request related to a problem? Please describe.**
As I go through your website several times and found that your site need a new product page for shoes category

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've

[2022-10-10 07:36] Ankit-11525 commented on #111
Yeah sure Go for it!

[2022-10-10 08:04] Dharmik3 opened #112 "scroll to top btn also visible on hero section"
**Describe the bug**
The scroll to top btn is visible on hero section or landing page.And btn also having overlapping problem in responsive screen

**Expected behavior**
When we open the site on the hero section the scroll to top btn should not be visible and after scrolling that section this btn should be visible.And I will also fixed the srollToTop btn image overlapping problem.

**Screenshots**

[2022-10-10 08:06] prakhar-1005 commented on #102
Hey @Ankit-11525 please review my issue

[2022-10-10 08:12] OkenHaha commented on #111
Hello, can you please assign me for this? I would like to work on it

[2022-10-10 08:15] SandeshGC commented on #102
Hey @prakhar-1005 , you can work on this issue, once @Ankit-11525 can access his laptop he will assign you.

[2022-10-10 09:13] Codebox124 commented on #104
sure

[2022-10-10 09:30] abhishekkmukherjee commented on #89
Reducing the images quality will help.

[2022-10-10 09:46] abhishekkmukherjee opened #114 "Assign this to me I'll fix it"
**Describe the bug**
About and Contact Us section is not working properly
About us and contact us taking us to the same link

**Expected behavior**
It should take to two individual section of one another

**Additional context**
Assign this to me I'll add content on about us page currently it is showing the products and will fix other error which I listed.

[2022-10-10 11:00] gajanansr commented on #100
@Ankit-11525 Bro?

[2022-10-10 13:05] theanimator20 opened #115 "The products under Featured product section overlapping with each other"
**Describe the bug**
  The products are overlapping under  Featured products as well as Latest Products we can give a   cool border to them when we hover over them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If appli

[2022-10-10 13:06] theanimator20 commented on #115
@Ankit-11525  i would like to work on this issue please assign me the same

[2022-10-10 13:09] Ankit-11525 commented on #96
@Ayushbajpai19 can you create another issue for this and please describe your idea

[2022-10-10 13:09] #96 closed

[2022-10-10 13:11] Ankit-11525 commented on #115
Can you share the screenshot of where is the problem?

[2022-10-10 13:12] Ankit-11525 commented on #100
Who I have to assign this issue?

[2022-10-10 13:14] Ankit-11525 commented on #114
Please just have a review on issue section of this project that nobody is working on this same issue .

[2022-10-10 13:16] SandeshGC commented on #100
I think you should assign @gajanansr  as this is a small issue.

[2022-10-10 13:18] anmolranjan1 commented on #102
Hey @Ankit-11525, Please assign me this issue. I am familiar with these.

[2022-10-10 13:20] Ankit-11525 commented on #17
Yeah sure @anuragh2002

[2022-10-10 13:30] theanimator20 commented on #115
It gets when hovering over the product cards we can add a transparent kind of border (lowering the opacity)  so we can distinguish.

[2022-10-10 13:32] Ankit-11525 commented on #115
Sure go ahead!

[2022-10-10 13:35] theanimator20 commented on #115
Can u Please Assign the Issue to Me

[2022-10-10 13:40] Ankit-11525 commented on #93
It's very cool

[2022-10-10 13:44] Ankit-11525 commented on #111
Okay Go ahead

[2022-10-10 13:47] Ankit-11525 commented on #14
just add standard links  eg : www.youtube.com

[2022-10-10 13:50] Ankit-11525 commented on #112
I guess somebody is already working on it , Please have review on issue section of this project

[2022-10-10 13:52] Ankit-11525 commented on #110
Yeah sure ! Go for it

[2022-10-10 13:53] nishtha53 commented on #17
@anuragh2002 Once you are done with content you can provide me I will work on it.

[2022-10-10 13:59] Ankit-11525 commented on #105
Please have a review on issue section that nobody is working on this same issue

[2022-10-10 14:00] Ankit-11525 commented on #106
please have a review in issue section that nobody is working on this same issue

[2022-10-10 14:06] coolestnick commented on #104
Can you please assign me the task! so that I can start working on the issue!

[2022-10-10 14:10] SreenikaMyakala commented on #105
Hi the bug is solved and nobody is working on the issue, i created pr

[2022-10-10 14:14] SandeshGC commented on #115
Sorry, but this has been fixed in #118 for issue #93

[2022-10-10 14:16] Jyotiraditya24 commented on #106
@Ankit-11525 I , had a review nobody is working on this issue before me

[2022-10-10 14:16] SandeshGC commented on #93
This issue has been fixed buy #118

[2022-10-10 14:16] #93 closed

[2022-10-10 14:24] Rohitprasad83 commented on #110
I am working on this.

[2022-10-10 14:27] Ankit-11525 commented on #110
@rushiikudapane  Please find another problem on this project .
Hope you find and Please raise a issue.

[2022-10-10 14:29] Dharmik3 commented on #112
Issue#106 in which only overlapping problem will be solved and I would like to implement both visibility of scrollToTop btn after the hero section and overlapping of element.

[2022-10-10 14:45] Jyotiraditya24 commented on #112
@Dharmik3 are you still seeing the overlapping issue in your browser?

[2022-10-10 14:50] Jyotiraditya24 commented on #106
this issue was resolved in #116

[2022-10-10 14:50] #106 closed

[2022-10-10 14:51] Dharmik3 commented on #112
hello @Jyotiraditya24 now it's fixed overlapping issue.

[2022-10-10 15:03] theanimator20 commented on #115
@Ankit-11525  shall i try to improve it?..

[2022-10-10 15:12] Jyotiraditya24 opened #119 "Adding depth to different Sections"
**Is your feature request related to a problem? Please describe.**
The top Category section of the website lacks depth , and a few other sections too

**Describe the solution you'd like**
I want a little depth added to the website to make it a little attractive

**Additional context**
1> I want something like this , and if you would like any edit or addition to it I like to contribute to it
<img w

[2022-10-10 15:14] Jyotiraditya24 commented on #112
yes @Dharmik3 I closed my issue

[2022-10-10 16:00] Aarav238 opened #120 "When we turn on dark mode page number are not visible And cart icon is also not visible."
When we turn on dark mode page number in all products page and cart icons are not visible as they are in black coloure.
I can make it look good.
![Screenshot 2022-10-10 212731](https://user-images.githubusercontent.com/95538627/194908036-ac4397c1-787b-4872-9988-ccb998e8fce2.png)

[2022-10-10 16:14] SandeshGC commented on #115
Of course, go ahead.

[2022-10-10 19:03] NateNear opened #125 "Adding a preloader page to the website."
Please allow me to add a preloader page to the website for enhanced user experience.

[2022-10-10 21:47] devharshu commented on #111
Hello Ankit, can you please assign this to me?

[2022-10-11 07:19] Codebat-man commented on #67
please assign it to me

[2022-10-11 07:24] Codebat-man commented on #111
Hey Please allow me to contribute  to enhance this website

[2022-10-11 07:25] Codebat-man commented on #111
I would like to add new product page for shoes category

[2022-10-11 17:03] Shivank12batra commented on #97
![IMG_20221011_223042](https://user-images.githubusercontent.com/84995784/195154755-f346eae8-6f88-477c-9eb2-df2f6336bde9.jpg)

hey Ankit, can you look at this design for navbar in dark mode. Will it be fine to you?

[2022-10-11 17:25] intersteller07 opened #130 "Changing button look"
I think changing the button padding would make it more visually appealing

[2022-10-11 18:29] Ankit-11525 commented on #130
no, there's no required to add padding so I'm closing it . Hope you raise some other issue

[2022-10-11 18:29] #130 closed

[2022-10-11 18:30] Ankit-11525 commented on #97
ya it's looking good go for it

[2022-10-11 18:40] Ankit-11525 commented on #111
this issue is already been assigned if he unable to do it then I'll assign it to you

[2022-10-11 18:42] Ankit-11525 commented on #67
![image](https://user-images.githubusercontent.com/76417084/195173289-2a413e68-19db-49bf-ac08-284aedfafb96.png)
theme changer already in website so i'm closing this issue

[2022-10-11 18:42] #67 closed

[2022-10-11 18:46] Ankit-11525 commented on #125
great idea but pls add beautifull preloader

[2022-10-12 02:16] Ankit-11525 commented on #120
Yeah sure ! Please Work for it

[2022-10-12 02:18] Ankit-11525 commented on #112
So i think this issue should be close.

[2022-10-12 02:18] #112 closed

[2022-10-12 02:19] Ankit-11525 commented on #119
You mean Border radius ?

[2022-10-12 08:09] AditiSingh2003 opened #133 "Font color in dark mode"
**Describe the bug**
A clear and concise description of what the bug is.
It is hard to read when the mode is dark.

**Expected behavior**
A clear and concise description of what you expected to happen.
The text will be more visible when the mode is dark.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="960" alt="red2 hacktoberfest" src="https://user-images.

[2022-10-12 08:13] Ayushhgupta39 opened #134 "Shadow in the Top container Image in Dark Mode"
When the dark mode is enabled, The top image in the container doesn't have any image shadow while the light does have. This makes look very weird like it is just cropped and pasted.

After fixing it, the image will have a white or greyish Shadow making it look more natural.

<img width="957" alt="image" src="https://user-images.githubusercontent.com/96309609/195287955-f008cd3b-091c-49f1-bcc3-19066

[2022-10-12 08:22] AditiSingh2003 opened #135 "In dark mode offer section has some glimps"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-12 08:25] tiosetiawan opened #136 "No notification after add to cart"
**Describe the bug**
No notification after add to cart

<img width="940" alt="swal to cart" src="https://user-images.githubusercontent.com/34486747/195290718-e1ce2f90-0285-4559-bd29-6969852f6ce0.png">

**Solution**
added sweet alert notify after submit

please allow me to add a notification alert after adding a product to cart

@Ankit-11525

[2022-10-12 08:29] AditiSingh2003 opened #137 "Dark mode not properly applied"
**Describe the bug**
In dark mode offer section has some area where dark mode is not applied

**Expected behavior**
The section will be completely black. That will give a nice effect and combined effect in website.

**Screenshots**
<img width="960" alt="container " src="https://user-images.githubusercontent.com/97729662/195291504-40b0db3a-c5d5-4488-8708-31e6485c6a3c.png">

**Desktop (please comple

[2022-10-12 08:40] AditiSingh2003 opened #138 "Add to cart in Feature Section"
**Is your feature request related to a problem? Please describe.**
When we like a product and want to save it to the cart by looking at the image there is no option for add to cart.

**Describe the solution you'd like**
We can add the cart symbol next to the price and ratting section. So that it may be convenient to add to cart.

**Additional context**
Add any other context or screenshots about th

[2022-10-12 08:45] #134 closed

[2022-10-12 08:49] Ayushhgupta39 commented on #120
Can I work on this issue?

[2022-10-12 09:43] pranavhole commented on #133
Hey @AditiSingh2003 I want to work on this issue can you assign this to me?

[2022-10-12 10:04] AditiSingh2003 commented on #133
I have already fixed the issue.

[2022-10-12 10:55] Jyotiraditya24 commented on #119
@Ankit-11525 I mean box shadowing effects

[2022-10-12 12:19] #102 closed

[2022-10-12 15:02] #135 closed

[2022-10-12 15:54] JatinSingh08 commented on #137
Hey @AditiSingh2003, Can you please assign this issue to me. I would love to work on this.

[2022-10-12 21:51] shubhsardana29 opened #141 "i want to add a Custom zoom effect for product images. This feature is commonly used with eCommerce websites"
![Screenshot 2022-10-13 at 3 17 54 AM](https://user-images.githubusercontent.com/52607235/195454579-065a27ef-2051-4946-9fb2-1b2127db6edf.png)
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2022-10-13 01:52] manishgupta416 commented on #59
can you assign to me?

[2022-10-13 01:54] manishgupta416 commented on #29
Can you assign to me?

[2022-10-13 03:15] Ankit-11525 commented on #29
It has been already assigned !
Hope You find another issue on this project

[2022-10-13 08:27] Ankit-11525 commented on #59
its already assigned

[2022-10-13 08:30] Ankit-11525 commented on #141
can you share a photo of your solution?

[2022-10-13 08:30] Ankit-11525 commented on #137
Sure go ahead!

[2022-10-13 08:35] gajanansr commented on #100
Are you gonna assign this to someone???

[2022-10-13 08:36] Ankit-11525 commented on #120
Its already assigned
Hope you find another issue in project

[2022-10-13 08:36] Ankit-11525 commented on #138
yeah sure !

[2022-10-13 08:45] Ankit-11525 opened #142 "Need color correction"
**Describe the bug**
Exact black color in dark mode isn't looks good

**Expected behavior**
Please choose a decent dark color combination in dark mode

[2022-10-13 10:04] Rohitprasad83 opened #143 "Improve the product Quantity input"
**Is your feature request related to a problem? Please describe.**
The product quantity can take negative values by entering the minus symbol which results in a negative cart value.

**Describe the solution you'd like**
The should be a function that will trigger an input event that will check for the value entered.

**Describe alternatives you've considered**
Additionality, we can add 2 buttons fo

[2022-10-13 10:05] Rohitprasad83 commented on #143
Can you please assign this to me and add hacktoberfest label.

[2022-10-13 11:14] Hrx4 commented on #143
Please assign this to me , i'll do it.

[2022-10-13 11:39] astitva0011 commented on #89
hello, i would like to work on this issue.
could you assign this issue to me?

[2022-10-13 13:20] AditiSingh2003 commented on #142
issue no. #133 was raised by me regarding the same issue

[2022-10-13 14:32] ratanrathour5 commented on #143
Please assign this to me

[2022-10-13 16:50] SaiSantosh2209 opened #147 "I want to improve the hover feature of the social media icons which are in the download section of your website"
* I would like to make the hover feature of the social media handles more enhancing which are present in the download section of your website
![Screenshot (7)](https://user-images.githubusercontent.com/83724995/195657249-b5e16740-93ca-4042-9a4b-6f05b8b0ff9a.png)

[2022-10-13 18:44] Abhay5855 commented on #136
Can you assign me this issue I can work on it @tiosetiawan

[2022-10-13 18:45] Abhay5855 commented on #98
Can you assing me this issue? @nihshesh

[2022-10-14 02:36] MahendraBishnoi29 opened #150 "sun icon is visible under the toggle ball."
**Describe the bug**
sun icon is visible under toggle ball also the position is also should be `right: 2px`

**To Reproduce**
Steps to reproduce the behavior:
1. switch to light mode
2. see the visible icon

**Expected behavior**
it should be completely hidden

**Screenshots**
<img width="50" alt="Screenshot 2022-10-14 075442" src="https://user-images.githubusercontent.com/74294202/195748979-38dd9

[2022-10-14 02:55] MahendraBishnoi29 opened #152 "Product details are sticky to image in cart page."
**Describe the bug**
product details are sticky to image

**To Reproduce**
Steps to reproduce the behavior:
1. Go to cart
2. see the product image and info

**Expected behavior**
there should be some gap between image and info

**Screenshots**
<img width="302" alt="Screenshot 2022-10-14 082021" src="https://user-images.githubusercontent.com/74294202/195751424-77fac93b-4911-40ef-981f-36a9e006676a.p

[2022-10-14 03:17] Ankit-11525 commented on #89
ok go for it !

[2022-10-14 03:18] Ankit-11525 commented on #143
Yeah sure !

[2022-10-14 03:49] MahendraBishnoi29 commented on #152
@Ankit-11525 please assign to me and add hacktoberfest 2022 label so i can submit a PR.

[2022-10-14 04:07] Ankit-11525 commented on #147
Please have a review on issue section to avoid multiple same issue!

[2022-10-14 04:12] Ankit-11525 commented on #136
Already done ! please review the website

[2022-10-14 04:13] Ankit-11525 commented on #98
Okay go for it!

[2022-10-14 04:14] Ankit-11525 commented on #150
Please share corrected screenshot

[2022-10-14 04:17] Ankit-11525 commented on #152
okay go for it!

[2022-10-14 04:31] MahendraBishnoi29 commented on #152
@Ankit-11525 I've participated in hactoberfest 2022. in My prev PR you didn't added hacktoberfest label 😭.

[2022-10-14 05:29] #136 closed

[2022-10-14 06:05] Rohitprasad83 commented on #143
Raised the PR, plase review

[2022-10-14 06:35] nihshesh commented on #98
I can see it is already fixed.

[2022-10-14 13:56] #137 closed

[2022-10-14 17:35] Aarav238 commented on #97
@Ankit-11525 Please check , I have already done this in PR #139

[2022-10-14 18:01] Shivank12batra commented on #97
hey, I have already made a pull request fixing the issue.

[2022-10-15 05:20] Aarav238 commented on #97
Hey @Shivank12batra  , I Have Made changes to each and every page and you can see the other changes are pretty well organised. We  both have done some another changes , hoping that both the PR get approval

[2022-10-15 11:41] Ankit-11525 commented on #152
which PR?

[2022-10-15 11:44] #125 closed

[2022-10-15 11:47] Ankit-11525 commented on #143
Which PR?

[2022-10-15 11:52] #98 closed

[2022-10-15 11:52] MahendraBishnoi29 commented on #152
last one where i solved issue #150

[2022-10-15 11:57] Ankit-11525 commented on #152
PR not issue?

[2022-10-15 12:26] MahendraBishnoi29 commented on #152
https://github.com/Ankit-11525/e-commerce_redstore.github.io/pull/154

[2022-10-15 14:07] AnshuPathak-88825 opened #162 "Problem with Testinomials header color in Dark Mode"
**Describe the bug**
Not visible in dark mode

**Expected behavior**
It should clearly visible and as same as theme.
**Screenshots**

https://user-images.githubusercontent.com/78332454/195990820-507dfc97-92cf-4030-9586-c3916f52161a.mp4

[2022-10-15 14:07] AnshuPathak-88825 commented on #162
Please assign me this issue .

[2022-10-16 06:55] #110 closed

[2022-10-16 11:16] abhay-raj19 opened #168 "I want to add Right-to-Left Color Swap Link Hover Effect in the top most icons i.e home,product,about,contact,account."
**I want to add  Right-to-Left Color Swap Link Hovering  Effect in the right top  bar**
    The link starts in one color without an underline. Then, on hover,
    a new color slides in from the right while an underline slides in from the left.

<img width="312" alt="image" src="https://user-images.githubusercontent.com/96302417/196032568-9a4e1b20-2c49-4b22-a9a4-b3e1809eb7cb.png">

After adding the

[2022-10-16 12:59] Ankit-11525 commented on #168
sure!

[2022-10-16 14:03] Vineet-0 opened #169 "Reduce Loading Time"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-16 14:17] #169 closed

[2022-10-16 18:00] Daksheshapkare opened #171 "Translation of readme"
I want to translate your readme under the hacktoberfest.please assign it to me

[2022-10-16 18:13] Ankit-11525 commented on #171
Can you explain this in briefly this ,any screenshot?

[2022-10-16 18:56] TechGeek3 commented on #142
Can I contribute to this?

[2022-10-17 08:20] Daksheshapkare commented on #171
I think that your Readme should be translated in various languages to enhance your repo

[2022-10-17 09:01] Daksheshapkare commented on #171
@Ankit-11525

[2022-10-17 11:43] AbhishekKumar2002 opened #172 "Add animation to the footer"
I would like to add animation to the footer. Kindly assign it me under Hacktoberfest label.

[2022-10-17 17:15] Saikatssd opened #175 "Dark Mode is not Consistent when any other sections are click"
**Describe the bug**
Dark Mode changes to Light mode when home,about,contact,products,cart or opening a link i.e when going to another page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dark Mode
2. Click on any link or shopping item
3. Then Dark Mode Automatically converts into light mode

**Expected behavior**
Dark Mode should be consistent until we click on the Light mode

**Scree

[2022-10-17 18:03] Ankit-11525 commented on #175
Go ahead!

[2022-10-18 08:10] UttamBindal commented on #143
Can i work on this?

[2022-10-18 11:20] Rohitprasad83 opened #176 "Improve the code quality"
**Is your feature request related to a problem? Please describe.**
There is a lot of commented code in different files like cart.html

**Describe the solution you'd like**
remove the commented code and add only relevant comments to improve the code readability.

[2022-10-18 11:21] Rohitprasad83 commented on #176
Can you please assign this issue to me and add hacktoberfest labels?

[2022-10-18 15:55] Ankit-11525 commented on #176
okay go for it!
take care of important codes

[2022-10-18 16:01] #168 closed

[2022-10-18 20:48] snehasish-pathak commented on #100
**can you assign this issue to me ?**

[2022-10-19 09:17] Rohitprasad83 opened #179 "Improve cart"
**Is your feature request related to a problem? Please describe.**
If there is no product added to the cart, the cart is showing the product detail layout, which would look when the product is added.

**Describe the solution you'd like**
Use a function to check whether the cart contains a product or not, then show a relevant message when no product is added, else show the cart details.

**Describe

[2022-10-19 12:25] Ankit-11525 commented on #179
Yeah sure!

[2022-10-22 19:30] Abhay5855 commented on #103
Can you assign me this issue  I can work on this

[2022-10-22 19:37] Abhay5855 opened #181 "Sort the products by sales not working."
**Describe the bug**
Sort the Products according to the sale not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://ankit-11525.github.io/e-commerce_redstore.github.io/allproducts.html.'
2. Click on 'Products in the Navbar'
3. Choose any other options except default options.
4. See the error

**Expected behavior**
When any of the sorting options are chosen the Products s

[2022-10-22 19:38] Abhay5855 commented on #181
@Ankit-11525  I can work and complete this issue can you assign it to me please.

[2022-10-22 19:54] snehasish-pathak commented on #147
**can u assign this issue to me ?**

[2022-10-25 05:25] Ankit-11525 commented on #181
ok go for it !

[2022-10-25 13:06] Harish2930 commented on #100
Hey Ankit ,can you assign this issue to me?

[2022-10-26 16:34] gajanansr commented on #100
Issue resolved please merge my pull request

[2022-10-26 16:35] gajanansr commented on #100
![Uploading Screenshot (9).png…]()

[2022-10-26 18:08] Kritika30032002 commented on #69
is this still available?
May i contribute to this?

[2022-10-26 18:39] Harish2930 commented on #100
Hey Ankit,
 I have resolved the issue this is how it looks right now ,
 I have a made a PR kindly, check and merge it into the repo

Before:

![Screenshot (340)](https://user-images.githubusercontent.com/92076885/198108925-475d2469-004c-49b3-8177-3893ab41a4de.png)

After:

![Screenshot (339)](https://user-images.githubusercontent.com/92076885/198108590-d99e9d3a-d78d-4f39-8682-a97631386179.png)

[2022-10-27 12:35] gajanansr commented on #100
@Harish2930 You still didn't got the perfect round shape @Ankit-11525 check out my pull request they are perfectly round!

[2022-10-31 13:15] shubhamgoyal2001 opened #190 "To Increase preloading time"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-31 13:23] shubhamgoyal2001 opened #192 "To Add download app link"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-31 13:35] shubhamgoyal2001 opened #194 "To text redstore as link"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-31 13:48] shubhamgoyal2001 opened #196 "copyright link"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-31 13:50] md-rafiq-03 opened #197 "Add contributor image"
pls assign me this issue

[2022-10-31 13:53] md-rafiq-03 opened #199 "Decrease loading time"
![image](https://user-images.githubusercontent.com/97541181/199024130-30856e66-8eec-4915-bf5f-0bfe94c48467.png)
pls assign me this issue

[2022-10-31 13:56] md-rafiq-03 opened #200 "Smooth transition in back to top button"
pls assign me this issue

[2022-10-31 14:01] shubhamgoyal2001 opened #201 "fixing the cursor style"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-10-31 14:12] anikdhabal opened #203 "Add a Search Bar"
pls assign me  this issue.

[2022-10-31 14:19] #197 closed

[2022-10-31 14:23] md-rafiq-03 opened #205 "smooth hover effect on icon"
![image](https://user-images.githubusercontent.com/97541181/199030627-c258b470-27d7-47c9-87dc-e9bbcfb09d05.png)
pls assign me this issue

[2022-10-31 15:49] Ankit-11525 commented on #203
Please clarify your issue!

[2022-10-31 16:04] md-rafiq-03 opened #209 "update css properties"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-11-01 14:34] anikdhabal commented on #203
I would like to say that it would be better if a search bar is added for search any item directly. Like tshirts,shoes etc.

[2022-11-04 16:02] Ankit-11525 commented on #203
okay!

[2022-11-14 13:58] #203 closed